.form {
  display: flex;
  flex-direction: column;
  width: 90%; /* Відносна ширина для мобільних пристроїв */
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.input {
  margin-left: 10px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #4caf50;
}

.button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button:hover {
  background-color: #45a049;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 10px;
}

/* Адаптивні стилі */
@media (max-width: 768px) {
  .form {
    width: 100%; /* Займає всю ширину екрану */
    padding: 15px;
  }

  .label {
    font-size: 14px; /* Менший шрифт на менших екранах */
  }

  .input {
    font-size: 12px; /* Менший шрифт для полів вводу */
    padding: 10px;
  }

  .button {
    font-size: 14px; /* Зменшення шрифту кнопки */
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .form {
    padding: 10px; /* Менші відступи для мобільних пристроїв */
  }

  .label {
    font-size: 12px;
  }

  .input {
    font-size: 12px;
    padding: 8px;
  }

  .button {
    font-size: 14px;
    padding: 10px;
  }
}
