.contactItem {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.contactDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 25px;
  color: #4caf50;
}

.contactName {
  margin-left: 5px;
  color: blue;
  padding-top: 10px;
  font-weight: bold;
  font-size: 26px;
}

.contactNumber {
  margin-left: 5px;
  padding-top: 10px;
  font-size: 26px;
  color: #555;
}

.deleteButton {
  margin-right: 10px;
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.deleteButton:hover {
  background-color: #d32f2f;
}
@media (max-width: 600px) {
  .contactItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .contactDetails {
    width: 100%;
    display: block;
  }

  .deleteButton {
    width: 100%;
    margin-left: 0;
  }
}
