.contactsWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 100%;
}

.contactsContainer {
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.contactDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 20px;
  color: #4caf50;
}

.contactName {
  font-weight: bold;
  font-size: 18px;
  color: rgb(30, 30, 33);
}

.contactNumber {
  font-size: 16px;
  color: #555;
}

.deleteButton {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #d32f2f;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-sizing: border-box;
  text-align: center;
}

.modal h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.modalButton {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.confirmButton {
  background-color: #4caf50;
  color: white;
}

.confirmButton:hover {
  background-color: #388e3c;
}

.cancelButton {
  background-color: #f44336;
  color: white;
}

.cancelButton:hover {
  background-color: #d32f2f;
}

@media (max-width: 768px) {
  .contactsContainer {
    max-height: 300px;
  }

  .contactItem {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .contactsContainer {
    max-height: 80vh;
    padding: 5px;
  }

  .contactItem {
    flex-direction: column;
    padding: 10px;
  }

  .contactName {
    font-size: 16px;
  }

  .contactNumber {
    font-size: 14px;
  }

  .deleteButton {
    font-size: 12px;
    padding: 8px 10px;
  }
}
